<nz-table #contactTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Topic</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.topic }}</td>
        <td>
          <button nz-button nzType="primary" (click)="showModal()">
            <span>Send feedback</span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Send Feedback"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="feedbackForm" (ngSubmit)="handleOk()">
        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Body</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="body"></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
  
  




  
  
