<div style="display: flex; gap: 10px;">
  <button nz-button nzType="primary" (click)="downloadExcelFile()">
    <i nz-icon nzType="download"></i>
    <span>Xuất File</span>
  </button>
  
  <button nz-button nzType="primary">
    <i nz-icon nzType="download"></i>
    <span>Nhập File</span>
  </button>
</div>
<nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.username }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.role }}</td>
        <td>
          <button>Detail</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
