.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .button-container button {
    margin-right: 10px;
    padding-bottom: 5px;
  }
  