<div class="button-container">
  <div class="example-input">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input placeholder="input here" nz-input [(ngModel)]="inputValue" (input)="onChange()" [nzAutocomplete]="auto" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onChange()">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>      
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-option class="global-search-item" *ngFor="let option of playerOptions" [nzValue]="option.value">
        {{ option.value }}
      </nz-auto-option>
    </nz-autocomplete>
  </div>  
<button nz-button nzType="primary" (click)="showAddingModal()">
  <span>Add Player</span>
</button>
<button nz-button nzType="primary" nzShape="circle" (click)="downloadExcelFile()">
  <i nz-icon nzType="download"></i>
</button>
</div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Image</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td><img [src]="data.sImg" width="50" height="50" alt="Player Image"></td>
      <td>{{ data.status }}</td>
      <td>
        <button nz-button [nzType]="'primary'" (click)="showModal(data.id)"><span>Show Modal</span></button>
        <button
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this task?"
          (nzOnConfirm)="deletePlayer(data.id)" 
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="topLeft"
          nz-button
          nzDanger
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
 <!-- Detail modal -->
<nz-modal [(nzVisible)]="isVisibleDetail" nzTitle="Player Detail" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p><strong>Name:</strong> {{ selectedPlayer?.name }}</p>
    <p><strong>Age:</strong> {{ selectedPlayer?.age }}</p>
    <p><strong>Image:</strong></p>
    <img [src]="selectedPlayer?.sImg" width="200" height="200" alt="Player Image">
    <p><strong>Status:</strong> {{ selectedPlayer?.status }}</p>
  </ng-container>
</nz-modal>
<!-- Add model -->
<nz-modal
  [(nzVisible)]="isVisibleAdding"
  nzTitle="Add Player"
  (nzOnCancel)="handleCancelAdding()"
  (nzOnOk)="handleOkAdding()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addPlayerForm" (ngSubmit)="handleOkAdding()">
      <nz-form-item>
        <nz-form-label [nzFor]="'name'">Name:</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
       
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'age'">Age:</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="age" id="age" type="number" />
        </nz-form-control>
      
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'position'">Position:</nz-form-label>
        <nz-form-control  nzHasFeedback>
          <input nz-input formControlName="position" id="position" />
        </nz-form-control>
      
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'role'">Role:</nz-form-label>
        <nz-form-control  nzHasFeedback>
          <input nz-input formControlName="role" id="role" />
        </nz-form-control>
      
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'image'">Image:</nz-form-label>
        <nz-form-control  nzHasFeedback>
          <input nz-input type="file" (change)="handleImageChange($event)" id="image" />
        </nz-form-control>
        <div *ngIf="selectedImage" class="preview-image">
          <img [src]="previewImageUrl" alt="Preview Image" width="200" height="200" />
        </div>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
