.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .button-container button {
    margin-right: 10px;
    padding-bottom: 5px;
  }
  
  .global-search-item {
    display: flex;
  }

  .global-search-item-desc {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .global-search-item-count {
    flex: none;
  }